<div id="home">
<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1" id="brand">
        <h1>WoW Scrape!</h1>---Just the WoW from <a href="https://icy-veins">Ice-Veins</a>
    </span>
</nav>
<div class="container-fluid">
    <div class="row">

    </div>
    <div id="articles">Articles</div>
    <div id="notes">Notes</div>
    <div id="test">Testing</div>
</div>
</div>