<div id="home">
<nav class="navbar navbar-light bg-dark">
    <span class="navbar-brand mb-0 h1" id="brand">
        <h1>WoW Scrape!</h1>---Just the WoW from <a href="https://icy-veins.com">Ice-Veins</a>
    </span>
</nav>
<div class="container-fluid">
    <div id="test">Testing still</div>
    {{#each Article}}
    <p>{{this.title}}<br><a href={{this.link}}>{{this.link}}</a></p><button class='makeNote'>Make a Note</button>
    {{/each}}
    <div id="articles">Articles</div>
    <div id="notes">Notes</div>
</div>
</div>