<div id="saved">
<nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 text-center" id="brand">
            <h1>WoW Scrape!</h1>---Just the WoW from <a href="https://icy-veins.com" class="icy" style="text-decoration: none"
                target="_blank">Ice-Veins</a>
        </span>
        <h1 class="socialMedia"><button
                class='btn-lg btn-info goHome'><a href="/" style="text-decoration: none">Home</a></button> <a
                href="https://www.linkedin.com/in/devin-stewart-7697bb9b/" class="fa fa-linkedin"></a> | <a
                href="https://www.github.com/bigshmow" class="fa fa-github"></a></h1>
    </nav>
    <div class="container">
        <br>
        <div class="jumbotron">
            <h1>Here are your saved articles!</h1>
        </div>
            {{#each Article}}
                <div class="row">
            <div class="col-9">
                <div class="card">
                    <p>{{this.title}}<br><a href={{this.link}} target="_blank">{{this.link}}</a></p>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <button class='btn-lg btn-info makeNote'>Make a Note</button> <button data-_id={{this._id}} class='btn-lg btn-info unSave'>Unsave this!</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="notes">Notes (not visibile at launch) </div>
            </div>
        </div>
            {{/each}}
        
    </div>
</div>