/* Elements */
a , a:hover{
    color: black;
}

/* End Elements */

/* Classes */

.centering {
    display: flex;
    align-items: center
}

.fa-github:hover , .fa-linkedin:hover {
    color: rgb(148, 212, 233);
    text-decoration: none;
}

.icy {
    color: rgb(148, 212, 233);
}

.navbar {
    border-bottom: 5px solid rgb(148, 212, 233);
}

.socialMedia {
    color: rgb(148, 212, 233);
}

/* End Classes */

/* IDs */

#brand {
    color: white;
}

#text-card {
    overflow: hidden;
}

/* End IDs */

/* media queries */

@media screen and (max-width: 800px) {
    .centering {
        display: inline-block;
    }

    #text-card {
        overflow: auto;
    }
}

/* end media queries */